# vsCode
*.code-workspace
.vscode/

# Environments
.env
.venv/

# Make
.venv_init

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Testing
.coverage
coverage.xml
.ruff_cache/
.pytest_cache/

# Default Volume locations
./data/postgres